{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col">
            <main>
                <section>
                    <h1 class="left-align">Welcome To <span class="blue">Tra</span><span class="green">vel</span><span class="yellow">Time</span>
                        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/reltuksl.json"
                            trigger="hover"
                            colors="primary:#f5b82e"
                            style="width:28px;height:28px">
                        </lord-icon>
                        !</h1>
                    <h4 class="left-align">Travel Time helps you find the best destinations for your journeys</h4>
                    <h6 class="left-align">by contacting other travelers
                        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/zpxybbhl.json"
                            trigger="loop"
                            colors="primary:#121331,secondary:#f5b82e"
                            style="width:30px;height:30px">
                        </lord-icon>
                    </h6>
                    <h6 class="left-align">Access to information on over 60 vacations around the world
                        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/zzcjjxew.json"
                            trigger="loop"
                            colors="primary:#2e944b,secondary:#537fbe"
                            style="width:30px;height:30px">
                        </lord-icon>
                    </h6>
                        <h6 class="left-align">Share your own experiences with others
                            <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com/wxhtpnnk.json"
                                trigger="loop"
                                colors="primary:#121331"
                                style="width:25px;height:25px">
                            </lord-icon>
                        </h6>
                        <br>
                        <h1 class="left-align"><span class="blue">Tra</span><span class="green">vel</span><span class="yellow">Time</span>
                            <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com/reltuksl.json"
                                trigger="hover"
                                colors="primary:#f5b82e"
                                style="width:28px;height:28px">
                            </lord-icon>
                        </h1>
                        <h5 class="left-align">This is a web application that allows users to find travel destinations and read and share reviews about their travel experiences. The website is designed to be user-friendly and easy to navigate, with a sleek and modern design that is appealing to users.</h5>
                        <h5 class="left-align">Overall, this travel reviews website is a valuable resource for anyone looking to plan a trip. The user-friendly interface and features make it easy for users to find and share information about various travel destinations. By utilizing the latest technologies and focusing on user experience and security, the website is able to efficiently store and retrieve data, making it a reliable and efficient tool for travelers.</h5>
                        <h1 class="left-align">Technologies Used
                            <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com/ktybrenb.json"
                                trigger="loop"
                                delay="1000"
                                colors="primary:#a4cfbe"
                                state="intro"
                                style="width:40px;height:40px">
                            </lord-icon>
                        </h1>
                        <h5 class="left-align">The back-end of the website is built using Python, with the Flask framework for the server. The front-end is built using HTML and CSS, with the Bootstrap framework for easy styling. The database used is SQLite, which allows for efficient storage and retrieval of data.</h5>
                        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/dtgezzsi.json"
                            trigger="loop"
                            colors="primary:#121331,secondary:#08a88a"
                            style="width:150px;height:150px">
                        </lord-icon>
                    </section>
            </main>
        </div>
        <div class="col">
            <aside class="form-group">
                <ul>
                    <h1 class="left-align">Features</h1>
                    <li><h3 class="left-align">Vacation Page
                        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/dlqgrmty.json"
                            trigger="loop"
                            delay="1000"
                            colors="primary:#916f10,secondary:#e8e230"
                            style="width:40px;height:40px">
                        </lord-icon>
                    </h3></li>
                    <h5 class="left-align">The vacation page allows users to search for over 60 travel destinations, using filters such as location, type of vacation, activities and so much more. The website also includes a table to sort the data about each vacation, including the city, country, continent, description, image, type of vacation, activities, attractions, weather, famous foods, and local cuisine. Users can bookmark vacation information for future reference and search for specific destinations by name, country, and continent, Also users can like their favourite vacations.</h5>
                    <li><h3 class="left-align">Reviews Page
                        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/hpivxauj.json"
                            trigger="loop"
                            delay="1000"
                            colors="primary:#121331"
                            state="intro"
                            style="width:40px;height:40px">
                        </lord-icon>
                    </h3></li>
                    <h5 class="left-align">Users can read and filter through reviews from other users about their travel experiences. The website includes a search function to allow users to find specific reviews, as well as the ability to sort reviews by date, rating, and other criteria and if users want to bookmark a sacific review, they are able to do it.</h5>
                    <li><h3 class="left-align">Sharing Experiences
                        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/wxhtpnnk.json"
                            trigger="loop"
                            delay="1000"
                            colors="primary:#121331"
                            state="in"
                            style="width:40px;height:40px">
                        </lord-icon>
                    </h3></li>
                    <h5 class="left-align">Users can share their travel reviews by going into the Sharing Experiences page, which can be helpful to others who are planning their trips. The website includes social sharing buttons to allow users to share their thoughts on social media platforms, making it easier for others to discover the website.</h5>
                    <li><h3 class="left-align">Settings Page
                        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/hwuyodym.json"
                            trigger="loop"
                            delay="1500"
                            colors="primary:#121331"
                            state="hover-1"
                            style="width:40px;height:40px">
                        </lord-icon>
                    </h3></li>
                    <h5 class="left-align">The settings page allows users to manage their account details, including their username, email, and password. Users can also view their review history and edit or remove their reviews as needed. Additionally, users can manage their bookmarks and delete their accounts if they no longer wish to use the service.</h5>
                </ul>
            </aside>
            </div>
            <h2 class="left-align">Security
                <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                <lord-icon
                    src="https://cdn.lordicon.com/yyecauzv.json"
                    trigger="loop"
                    delay="1500"
                    colors="primary:#121331,secondary:#08a88a"
                    state="hover-2"
                    style="width:40px;height:40px">
                </lord-icon>
            </h2>
            <h5 class="left-align">The website is designed with security in mind, with user information stored securely in the database and password encryption to protect user accounts. Additionally, the website is regularly updated to ensure that it is protected from potential security vulnerabilities.
                The users are able to remove their accounts if they do not want to use that anymore which protects their information.
                Here is an opinion, if any user forgets their password they can reset the password by sending Gmail covering a temporary password.
                If the users use some easy passwords which can endanger their account website shows them a warning notification to let them know their informations is in danger.
            </h5>
    </div>
{% endblock %}
