{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<form action="/change-password" method="post">
    <div class="row">
        <div class="col">
            <main>
                <section>
                    <h1>Changing password</h1>
                    <h6>Input your password and after that change your password to a new one!
                        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/sxobuwft.json"
                            trigger="loop"
                            delay="1500"
                            colors="outline:#537fbe,primary:#2e944b,secondary:#e4e4e4"
                            style="width:50px;height:50px">
                        </lord-icon>
                    </h6>
                </section>
            </main>
        </div>
        <div class="col">
            <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
            <lord-icon
                src="https://cdn.lordicon.com/huwchbks.json"
                trigger="hover"
                colors="primary:#537fbe,secondary:#2e944b"
                style="width:150px;height:150px">
            </lord-icon>
            <div class="mb-3">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control {{value_old}} mx-auto w-auto" id="password" name="password" placeholder="Your Password" required type="password">
                    <div class="invalid-feedback">Incorrect Password</div>
                </div>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                <input class="form-control {{value_new}} mx-auto w-auto" id="new_password" name="new_password" placeholder="New Password" required type="password">
                </div>
            </div>
            <div class="mb-3">
                <input class="form-control {{value_new}} mx-auto w-auto" id="confirmation" name="confirmation" placeholder="New Password (again)" required type="password">
                <div class="invalid-feedback">Not Found Match!</div>
            </div>
            <button class="btn btn-primary">Change Password</button>
        </div>
    </div>
</form>
{% endblock %}