{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
    <form action="/reset" method="post">
        <div class="row">
            <div class="col">
                <main>
                    <section>
                        <h1>Reset Password By Sending Email</h1>
                        <div class="mb-2.5"><h4>Please enter your email address, find your</h4></div>
                        <div class="mb-2.5"><h4>account, reset your old password, and then let</h4></div>
                        <div class="mb-2.5"><h4>you know the new password by sending an email</h4></div>
                        <h4>
                               to provide returning your account.
                            <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com/ifqmqwui.json"
                                trigger="loop"
                                delay="35"
                                colors="primary:#121331"
                                style="width:35px;height:35px">
                            </lord-icon>
                        </h4>
                    </section>
                </main>
            </div>
            <div class="col">
                <aside class="form-group">
                    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                    <lord-icon
                        src="https://cdn.lordicon.com/diihvcfp.json"
                        trigger="hover"
                        colors="primary:#121331"
                        style="width:100px;height:100px">
                    </lord-icon>
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control {{value_email}} mx-auto w-auto" id="email" name="email" placeholder="Email" type="email">
                        <div class="invalid-feedback">Account Not Found!</div>
                    </div>
                    <button class="btn btn-primary" type="submit">
                        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/rhvddzym.json"
                            trigger="hover"
                            colors="primary:#ffffff,secondary:#ffffff"
                            style="width:45px;height:45px">
                        </lord-icon>
                    </button>
                </aside>
            </div>
        </div>
    </form>

{% endblock %}